<!-- CABECERA DEL COMPONENTE ----------------------------------------------------------------------------------------->
<header>
    <img src="../assets/img/ico-logo.png">
    <h1>{{strTitulo}}</h1>
</header>
<!-------------------------------------------------------------------------------------------------------------------->

<!-- CONTENIDO DEL COMPONENTE ---------------------------------------------------------------------------------------->
<section class="content">

  <!-- INPUT DE ENTRADA DE TAREA Y BOTÓN PARA AGREGAR TAREA----------------------------------------------------------->
  <div id="item-add">
    <input name="tarea" (keyup.enter)="agregarTarea()" type="text" [(ngModel)]="strTarea" 
      placeholder="Agregar una nueva tarea" required/>
    <button (click)="agregarTarea()">Agregar</button>
  </div>
  <!------------------------------------------------------------------------------------------------------------------>

    <!-- BARRA DE TITULO DE HOJA DE TAREAS Y BOTÓN DE VACIAR LISTA---------------------------------------------------->
    <div class="title-bar">
      <p><strong>ToDo list by Iron Bit</strong></p>
      <img src="../assets/img/recycle-bin.svg" (click)="vaciarLista()" title="Borrar toda la lista."/>
    </div>
    <!---------------------------------------------------------------------------------------------------------------->

    <!-- HOJA DE TAREAS "TODO LIST"----------------------------------------------------------------------------------->   
    <div class="todoList">

      <!-- MENSAJE INDICATIVO - LISTA VACIA--------------------------------------------------------------------------->   
      <div *ngIf="boolTodoListVacia">
        <p><strong>No hay ToDo's, tómate un café!</strong></p>
      </div>
      <!-------------------------------------------------------------------------------------------------------------->   

      <!-- LISTA CON ELEMENTOS Y BOTONES DE MODIFICACIÓN Y BORRADO---------------------------------------------------->   
      <div class="list" *ngIf="!boolTodoListVacia">
        <div class="item" *ngFor="let todo of darrTodoList; index as i">
            <div id="item{{(i)}}" class="show">
              <div class="itemText" id="todo">{{(i + 1)}}. {{todo}}</div>
            </div>
            <div id="itemVis{{(i)}}" class="hidden">
              <input class="itemText" (keyup.enter)="guardarTarea(todo,i)" type="text" id="input{{(i)}}"
               [(ngModel)]="strTareaModif"/>
            </div>
              <div>
                <img id="img" class="img" src="../assets/img/remove.svg" title="Eliminar tarea"
                       (click)="eliminarTarea(i)" />
              </div>
              <div>
                <img id="imgEdit{{i}}" class="img show" src="../assets/img/lapiz.svg" title="Editar tarea"
                       (click)="editarTarea(todo,i)" />
              </div>
              <div>
                <img id="imgGuarda{{i}}" class="img hidden" src="../assets/img/salvar.svg" title="Guardar tarea" 
                (click)="guardarTarea(todo,i)"/>
              </div>
        </div>
      </div>
      <!-------------------------------------------------------------------------------------------------------------->   

    </div>
    <!---------------------------------------------------------------------------------------------------------------->

</section>
<!-------------------------------------------------------------------------------------------------------------------->